@model Web_Application.Models.StudentInfo

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container" style="margin-top:3%">
    <a href="/Student/Index" class="btn btn-info" >Add New Student</a> <br /><br />
  </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Department</th>
                <th scope="col">Address</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.dbdata)
            {

                <tr>

                    <td>@item.StudentId</td>
                    <td>@item.StudentName</td>
                    <td>@item.Department</td>
                    <td>@item.Address</td>
                    <td><a href="/Student/Edit/@item.StudentId" class="btn btn-info">Edit Info</a></td>
                    <td><a href="/Student/Delete/@item.StudentId" class="btn btn-danger">Delete Info</a></td>
                </tr>
            }
        </tbody>
    </table>
